.ceo{
    
    
    position: relative;
    display: block;
    width: 100vw;
    
}
.ceo h1{
    margin:1rem;
    display: flex;
    justify-content: center;
    color: gray;
    font-size: 3rem;
    font-weight: bolder;
}
.ceo h2{
    margin : 1rem 0 0 4rem;
    font-weight: 450;
    font-size:2rem;
}
.ceo footer{
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    align-items: center;
}
.ceo p {
    margin :4rem;
    font-size:1.5rem;
}