
.summary {
    h3 {
      font-size: 3rem;
      margin: 1rem;
      display: flex;
      justify-content: center;
    }
  
    .inner {
      display: flex;
      flex-direction: column; 
      margin: 0 10vw; 
    }
  
    .card {
      padding: 1rem; 
      border: 1px solid var(--light-blue);
      margin-bottom: 10px;
      font-size: 1.3rem;
    }
  
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.5rem;
      margin: 1rem 0;
    }
  
    .quantity,
    .price {
      margin: 1rem;
    }
  
    button {
      margin-top: 1rem; 
    }
  
    @media (min-width: 768px) {
      .inner {
        flex-direction: row; 
        justify-content: space-between;
      }
    }
  }