.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

.auth h1 {
  text-align: center;
  color: black;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: black;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #f1e1fc;
  color: #38015c;
  border-radius: 4px;
  border: 1px solid black;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #9f5ccc;
  border: 1px solid #9f5ccc;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #873abb;
  border-color: #873abb;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #9f5ccc;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #ae82cc;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5rem;
  padding: 0 2rem;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 24rem;
}

.subtitle {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4b5563;
}

.paragraph {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #4b5563;
}

.buttonContainer {
  width: 100%;
  max-width: 24rem;
}

.google {
  display: flex;
  gap: 0.75rem;
  color: #ffffff;
  background-color: #4285f4;
  font-weight: bold;
  border-radius: 0.375rem;
  width: 100%;
  padding: 1rem 1.25rem;
  margin: 1rem 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.google:hover {
  background-color: #4285f4e6;
}
.naver {
  display: flex;
  gap: 0.75rem;
  color: #ffffff;
  background-color: #2db400;
  font-weight: bold;
  border-radius: 0.375rem;
  width: 100%;
  padding: 1rem 1.25rem;
  margin: 1rem 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.naver:hover {
  background-color: #2db400e6;
}
.kakao {
  display: flex;
  gap: 0.75rem;
  color: #ffffff;
  background-color: #fef01b;
  font-weight: bold;
  border-radius: 0.375rem;
  width: 100%;
  padding: 1rem 1.25rem;
  margin: 1rem 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.kakao:hover {
  background-color: #fef01be6;
}
