.post_detail {
  min-height: 90vh;
  padding: 20px;
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
  text-align: left;
  line-height: 24px;
}

.post_title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  margin: 14px 0px;
}

.post_utilsbox {
  padding: 10px 0px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  flex-direction: row;
  display: flex;
  gap: 8px;

  font-size: 14px;
  color: gray;
}

.post_profilebox {
  padding: 10px 0px;
  display: flex;
  gap: 8px;
  font-size: 14px;
  align-items: center;
}

.post_text {
  padding: 20px 0px;
  color: dimgray;
  font-size: 16px;
}
.post_textprewrap {
  white-space: pre-wrap;
}
.post_box {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #f2f2f2;
}
.post_authorname,
.post_date {
  color: gray;
}
.post_category {
  color: gray;
  border: 1px solid lightgray;
  background-color: #f2f2f2;
  padding: 0px 4px;
  border-radius: 10px;
  font-size: 12px;
}
.post_delete {
  cursor: pointer;
}

.post_delete:hover,
.post_delete:focus {
  color: black;
}
.post_download {
  cursor: pointer;
}

.post_download:hover,
.post_download:focus {
  color: black;
}
.post_edit:hover,
.post_edit:focus,
.post_edit a:hover,
.post_edit a:focus {
  color: black;
}

.post_edit a {
  text-decoration: none;
  color: gray;
}
