.post_navigation {
  display: flex;
  gap: 12px;
  margin: 0 auto;
  max-width: 680px;
  font-size: 16px;
  color: gray;
  cursor: pointer;
  padding: 48px 20px 0px 20px;
}

.active {
  color: black;
  font-weight: 600;
}
.post_list {
  min-height: 90vh;
  padding: 20px;
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
  text-align: left;
  line-height: 24px;
}
.post_box {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #f2f2f2;
}
.post_profilebox {
  display: flex;
  gap: 8px;
  font-size: 14px;
  align-items: center;
}
.post_profile{
  width: 36px;
  height: 36px;
  background: #f2f2f2;
  border-radius: 50%;
}
.post_author_name {
  color: gray;
}
.post_index{
  color: gray;
}
.post_datepc {
  color: gray;
}
.post_datemobile{
  display: none;
}
.post_title {
  font-size: 20px;
  font-weight: 600;
  margin: 14px 0px;
  color: black;
}
.post_text {
  color: dimgray;
  font-size: 16px;
}
.post_utilbox {
  display: flex;
  gap: 8px;
  flex-direction: row-reverse;
  font-size: 14px;
  color: gray;
}
.post_delete {
  cursor: pointer;
}
.post_edit:hover,
.post_edit:focus,
.post_edit a:hover,
.post_edit a:focus {
  color: black;
}

.post_edit a {
  text-decoration: none;
  color: gray;
}
.post_nopost {
  padding: 24px;
  text-align: center;
  color: gray;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .post_datepc {
    display:none;
  }
  .post_datemobile {
    color: gray;
    font-size:14px;
    display:flex;
   
   justify-content: end;
  }
}