.infoBox {
    width: 30%;
    min-width: 15rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    

    .card {

    span {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }}
}